@import-normalize;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

img {
  height: 100%;
}

a {
  text-decoration: none;
  font-size: 20px;
  color: black;
  margin-top: 5px;
  margin-bottom: 5px;
}

a:hover {
  text-decoration: underline;
  color: violet;
}

main {
  padding: 32px;
}
p {
  font-size: 18px;
}

h1,
h2,
h3 {
  margin-bottom: 10px;
}
